<?php
   /**
    * Copyright © 2015 Magento. All rights reserved.
    * See COPYING.txt for license details.
    */
   
   // @codingStandardsIgnoreFile
   
   /* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
   ?>
<?php
   switch ($type = $block->getType()) {
   
   
   
       case 'related':
           /** @var \Magento\Catalog\Block\Product\ProductList\Related $block */
           if ($exist = $block->getItems()->getSize()) {
               $type = 'related';
               $class = $type;
   
               $imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
               $image = 'related_products_list';
               $title = __('Related');
               $items = $block->getItems();
               $limit = 0;
               $shuffle = 0;
   
               $showWishlist = false;
               $showCompare = false;
               $showCart = true;
               $templateType = null;
               $description = false;
           }
       break;
   
       case 'other':
       break;
   }
   ?>
<?php if ($exist):?>
<?php if ($type == 'related' || $type == 'upsell'): ?>
<?php if ($type == 'related'): ?>
<section class="block <?php echo $class; ?>" data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}' data-limit="<?php echo $limit; ?>" data-shuffle="<?php echo $shuffle; ?>">
<?php else: ?>
<section class="block <?php echo $class; ?>" data-mage-init='{"upsellProducts":{}}' data-limit="<?php echo $limit; ?>" data-shuffle="<?php echo $shuffle; ?>">
<?php endif; ?>
<?php else: ?>
<section class="block <?php echo $class; ?>">
   <?php endif; ?>
	<header class="group-title1">
		<h2 id="block-<?php echo $class?>-heading" role="heading" aria-level="2"><?php echo $title; ?></h2>
	</header>
	<div class="block-content content" aria-labelledby="block-<?php echo $class?>-heading">
		<div class="owl-container">
			<?php if ($type == 'related'): ?>
			<div class="block-actions">
				<?php echo __('Check items to add to the cart or') ?>
				<button type="button" class="action select" role="select-all"><span><?php echo __('select all') ?></span></button>
			</div>
			<?php endif; ?>

			<div id="relate_product_slider" class="owl-carousel">
				<?php $iterator = 1; ?>
				<?php 
					$i = 0;
					$rows = 3;
				?>
				<?php foreach ($items as $_item): ?>
				<?php $available = ''; ?>
				<?php if (!$_item->isComposite() && $_item->isSaleable() && $type == 'related'): ?>
				<?php if (!$_item->getRequiredOptions()): ?>
				<?php $available = 'related-available'; ?>
				<?php endif; ?>
				<?php endif; ?>
			<?php
					$productImage = $block->getImage($_item, $image);
			?>	
				<?php if ($i++%$rows==0) { ?>
					<div class="item">
				<?php } ?>
					<div class="item-inner">
						<div class="image-container">
							<a class="overlay" href="#"></a>
							<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
								<?php echo $productImage->toHtml() ?>
							</a>
							<div class="box-hover">
								<?php if ($showWishlist || $showCompare): ?>
									<div class="secondary-addto-links actions-secondary" data-role="add-to-links">
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
										<a href="#" data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'  class="action towishlist" data-action="add-to-wishlist" title="<?php echo __('Add to Wish List') ?>">
										<span><?php echo __('Add to Wish List') ?></span>
										</a>
										<?php endif; ?>
										<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
										<?php
										   $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
										   ?>
										<a href="#" class="action tocompare"
										   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
										   data-role="add-to-links"
										   title="<?php echo __('Add to Compare'); ?>">
										<span><?php echo __('Add to Compare') ?></span>
										</a>
										<?php endif; ?>
									</div>
								<?php endif; ?>
							</div>
						</div> 
						<div class="product details box-info">
							<strong class="product name product-item-name"><a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php echo $block->getProductUrl($_item) ?>">
								<?php echo $block->escapeHtml($_item->getName()) ?></a>
							</strong>
							<?php if ($templateType): ?>
								<?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
							<?php endif; ?>
							<div class="item-price">
								<?php echo $block->getProductPrice($_item); ?>
							</div>
							<?php if (!$_item->isComposite() && $_item->isSaleable() && $type == 'related'): ?>
							<?php if (!$_item->getRequiredOptions()): ?>
							<div class="field choice related">
								<input type="checkbox" class="checkbox related" id="related-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php echo $_item->getId() ?>" />
								<label class="label" for="related-checkbox<?php echo $_item->getId() ?>"><span><?php echo __('Add to Cart') ?></span></label>
							</div>
							<?php endif; ?>
							<?php endif; ?> 
							<?php if ($showCart): ?>
								<div class="actions-primary">
									<?php if ($_item->isSaleable()): ?>
									<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
									<button class="action tocart" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php echo __('Add to Cart') ?>">
									<span><?php echo __('Add to Cart') ?></span>
									</button>
									<?php else: ?>
									<?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
								   $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
								   ?>
									<button class="action tocart"
									   data-post='<?php echo $postData; ?>'
									   type="button" title="<?php echo __('Add to Cart') ?>">
									<span><?php echo __('Add to Cart') ?></span>
									</button>
									<?php endif; ?>
									<?php else: ?>
									<?php if ($_item->getIsSalable()): ?>
									<div class="stock available"><span><?php echo __('In stock') ?></span></div>
									<?php else: ?>
									<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
									<?php endif; ?>
									<?php endif; ?>
								</div>
							<?php endif; ?>  
						</div>
					</div> 
				<?php if($i%$rows==0 || $i == count($items)) { ?> 
				</div> 
				<?php } ?>
				<?php endforeach ?>
			</div>
		</div>
    </div>

</section>
<?php endif;?>
<script type="text/javascript">
   require(["jquery","owlcarousel/minjs"], function($,owlCarousel){
   	
      $("#relate_product_slider").owlCarousel({
   		items : 1,
		itemsDesktop : [1200,1],
   		itemsDesktopSmall : [992,1],
   		itemsTablet: [767,1],
   		itemsMobile : [400,1],
   		autoPlay : false,
   		slideSpeed : 3000,
   		navigation : true,
   		stopOnHover : true,
   		pagination : false,
      });
      
   });
</script>
